{% extends "web.html" %}
{% block body %}
<div class="main">
   <div class="container">
      <h1>Cities</h1>
      <a href = "{% url 'add city' %}"><input type="button" id="fup" name="update" value="Add New City"></a>
      <form method="post">
      <table>
         <thead>
            <tr>
               <!-- <th>countryName</th> -->
               <th>Serial No.</th>
               <th>CountryName</th>
               <th>StateName</th>
               <th>CityName</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            {% for cy in city %}
               <tr>
                  <td name= "c_name" >{{ cy.serial }}</td>
                  <td name= "c_name" >{{ cy.country }}</td>
                  <td name= "c_name">{{ cy.state }}</td>
                  <td name= "c_name" >{{ cy.city_name }}</td>
                  <td><a href="{% url 'update city' cy.id %}"
                  onclick="return confirm('Do you want to permanently upadate city name {{ cy.city_name }}?');" title="update a city"><i class="material-icons" style="font-size:16px"></i><input type="button" id="fup" name="update" value="Edit"></a> 
                  <a href="{% url 'delete city' cy.id %}"
                  onclick=" return confirm('Do you want to permanently delete city {{ cy.id }}?');" title="Delete a city"><i class="material-icons" style="font-size:16px"><input type="button" id="fdelete" name="{{ cy.id }}" value="Delete"></a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      </form>
   </div>
</div>
{% endblock %}