{% extends "web.html" %}
{% block body %}


    <div class="main">
      <h2>congratulations!! the data of urls are successfullly stored on the web app....</h2>
      <h5></h5>
      <h3>You can see the details of shops by click on proceed!!</h3>
      <h3>process takes some time......</h3>

      <br> 
    <div class="container">
    <form action="http://127.0.0.1:4000/search/submit/process", method ="post" >
      <div class="row">
        <input type="submit" value="Process">
      </div>
    </form>
    </div>
    </div>
  </div>
{% endblock %}
      <!-- <div class="row">
        <div class="col-25">
          <label for="fname">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="search" placeholder="Search here..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Place</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="place" placeholder="Enter place..">
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-25">
          <label for="email">Email Id:</label>
        </div>
        <div class="col-75">
          <input type="text" id="Email Id" name="email_id" placeholder="Your email id..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Blood Group">Blood Group</label>
        </div>
        <div class="col-75">
          <select id="Blood Group" name="blood_group">
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="number">Phone No:</label>
        </div>
        <div class="col-75">
          <input type="text" id="Phone No" name="phone_no" placeholder="Your phone no..">
        </div>
      </div> -->
