{% extends "web.html" %}
{% block body %}
<!DOCTYPE html>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<div class="main">
  <div class="container">
        <h2>Your Message is send successfully!!</h2>
  </div>
</div>
<!-- <form action="http://127.0.0.1:4000/wp/whatsApp", method ="get" >
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Phone no</th>
            <th><form >
                <input type="checkbox" onclick="toggle(this);" /><br />
                <label for="vehicle1"> Select all</label><br>
            </form></th>
        </tr>
        <tr>
            
            <td>Rutva Dudhela</td>
            <td>+916355618155</td>
            <td><form>
                <input type="checkbox">
                <label for="vehicle1">select</label><br>

            </form></td>
        </tr>
        <tr>
            <td>Rujuta Dudhela</td>
            <td>+917984043380</td>
            <td><form>
                <input type="checkbox">
                <label for="vehicle1">select</label><br>
            </form></td>
        </tr>
        <tr>
            <td>Nidhi Parmar</td>
            <td>+919510314831</td>
            <td><form>
                <input type="checkbox">
                <label for="vehicle1">select</label><br>
            </form></td>
        </tr>
        <tr>
            <td>Hiral Nandaniya</td>
            <td>+918200519044</td>
            <td><form>
                <input type="checkbox" >
                <label for="vehicle1">select</label><br>
            </form></td>
        </tr>
    
        </table>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form> -->


{% endblock %}

